<!DOCTYPE html>
<html>
<head>
  <title>Sample</title>
  <style type="text/css" href="./style.css"></style>

    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
          
</head>
<body>

  <nav class="#607d8b blue-grey">
    <div class="nav-wrapper" >
      <a href="#" class="brand-logo">mini app</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        <li><a href="badges.html">new</a></li>
        <li><a href="collapsible.html">sign out</a></li>
      </ul>
    </div>
  </nav>

  <div class="row" >
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">投稿</span>
          <div class="contents row">
          <%= form_with(model: @blogs, local: true) do |form| %>
            
            <textarea cols="30" name="text" placeholder="text" rows="10"></textarea>
            <input type="submit" value="SENT">
          <% end %>
          </div>

        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
  </div>





<script type="text/javascript" src="./app.js"></script>
</body>

<footer class="center-align">

</footer>
</html>